/* alert advertencia */
.alert-advertencia {
    position: relative;
    background-color: #FFFAF2;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: auto;
    display: table;
    margin: 15px 0;
    line-height: 22px;
    max-width: 980px;
    font-size: 93%;
    width: 100%;
    border: 1px solid #FACE80;
    border-left: 8px solid #FACE80;
    table-layout: fixed;
}

.alert-advertencia p {
    margin-left: 80px;
    padding-left: 15px;
    vertical-align: middle;
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.alert-advertencia:before {
    content: url('../images/interogant.svg');
    vertical-align: top;
    display: table-cell;
    width: 2.5%;
    min-width: 24px;
    padding: 14px 0 0 0;
}

/* alert informacion*/
.alert-informacion {
    position: relative;
    background-color: #f2fcff;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: auto;
    display: table;
    margin: 15px 0;
    line-height: 22px;
    max-width: 980px;
    font-size: 93%;
    width: 100%;
    border: 1px solid #80e2fa;
    border-left: 8px solid #80e2fa;
    table-layout: fixed;
}

.alert-informacion p {
    margin-left: 80px;
    padding-left: 15px;
    vertical-align: middle;
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.alert-informacion:before {
    content: url('../images/informtion.svg');
    vertical-align: top;
    display: table-cell;
    width: 2.5%;
    min-width: 24px;
    padding: 14px 0 0 0;
}

/* alert error*/
.alert-error {
    position: relative;
    background-color: #fff2fa;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: auto;
    display: table;
    margin: 15px 0;
    line-height: 22px;
    max-width: 980px;
    font-size: 93%;
    width: 100%;
    border: 1px solid #b40054;
    border-left: 8px solid #b40054;
    table-layout: fixed;
}

.alert-error p {
    margin-left: 80px;
    padding-left: 15px;
    vertical-align: middle;
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.alert-error:before {
    content: url('../images/error-svgrepo-com.svg');
    vertical-align: top;
    display: table-cell;
    width: 2.5%;
    min-width: 24px;
    padding: 14px 0 0 0;
}


/* alert success*/
.alert-success {
    position: relative;
    background-color: #f2fffd;
    padding: 0 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: auto;
    display: table;
    margin: 15px 0;
    line-height: 22px;
    max-width: 980px;
    font-size: 93%;
    width: 100%;
    border: 1px solid #33FF9F;
    border-left: 8px solid #33FF9F;
    table-layout: fixed;
}

.alert-success p {
    margin-left: 80px;
    padding-left: 15px;
    vertical-align: middle;
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.alert-success:before {
    content: url('../images/check-circles.svg');
    vertical-align: top;
    display: table-cell;
    width: 2.5%;
    min-width: 24px;
    padding: 14px 0 0 0;
}