@tailwind base;
@tailwind components;
@tailwind utilities;

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.211);
  color: #9eddc7;
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch>span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #3ca7af;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch>span.on {
  left: 0;
  padding-left: 2px;
  color: #ffffff;
}

.switch>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #ffffff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #ffffff;
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 44px;
}

/*
==========================================
estilos validacion  del formulario
==========================================
*/

.form-control {
  margin-bottom: 7px;
  padding-bottom: 20px;
  position: relative;
}

.form-control,
input:focus {
  outline: none;
}

.form-control,
textarea:focus {
  outline: none;
}

.form-control div {
  visibility: hidden;
  position: absolute;
  font-size: small;
  font-weight: 500;
  text-align: right;
}


.invalid {
  border: 1px solid rgb(255, 0, 81);
}

.error {
  color: rgb(255, 0, 81);
  font-size: 14px;
  margin-top: 6px;
}


.hide {
  opacity: 0;
}

#button {
  color: #ffffff;
  padding: 12px;
  border: 1px solid #31e0a0;
  width: 100%;
  border-radius: 7px;
  background: #31e0a0;
  cursor: pointer;
  transition: all 0.5s;
}

#button:hover {
  background: #053237;
  border: 1px solid white;
}


/*
==========================================
estilos validacion  del formulario
==========================================
*/

.message {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.message .success {
  font-size: 20px;
  color: rgb(0, 255, 110);
  position: absolute;
  animation: buttons .3s linear;
  display: none;
}

.message .danger {
  font-size: 20px;
  color: rgb(255, 0, 81);
  position: absolute;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}

/* CSS */
input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .block {
  background-color: #34d399;
}

@media (hover: none) {
  #flagImage:active {
    transform: scale(1.2) rotate(15deg);
  }
}