@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Ubuntu+Mono&display=swap');

  :root {
    --primary-color:        #00c1d3;
    --secondary-color:      #4effff;
    --white-color:          #ffffff;
    --dark-color:           #000000;
    --servicio-bg:          #ffffff;
    --menu-bg:              #ffffff;

    --title-color:          #ffffff;
    --gray-color:           #ffffff;
    --link-color:           #ffffff;
    --p-color:              #ffffff;

    --base-font-family:     'Rajdhani', sans-serif;
    --title-font-family:    'Rajdhani', sans-serif;
    --font-bold-family:     'Rajdhani', sans-serif;
    --font-weight-bold:     bold;

    --h1-font-size:         42px;
    --h2-font-size:         32px;
    --h3-font-size:         24px;
    --p-font-size:          20px;
    --base-font-size:       16px;
    --menu-font-size:       18px;

    --border-radius-large:  5px 1px 5px  1px;
    --border-radius-small:  5px;
  }

  body {
    background: var(--white-color);
    font-family: var(--base-font-family);
  }

   .containerimg{
    display: flex;
    justify-content: center;
   }


  /* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #00FFFF;
  color: #fff;
}


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--title-font-family);
    line-height: inherit;
  }

  h1 {
    color: var(--title-color);
    font-size: var(--h1-font-size);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: 100;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: 100;
    margin-bottom: 0;
  }

  h4 {
    color: var(--gray-color);
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h5 {
    font-family: var(--base-font-family);
    font-size: var(--p-font-size);
  }

  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    line-height: 1.5em;
  }

  b, 
  strong {
    letter-spacing: 0;
    color: var(--secondary-color);
  }


  /* BUTTON */
  .custom-btn {
    background: transparent;
    border: 2px solid var(--dark-color);
    border-radius: var(--border-radius-large);
    padding: 12px 26px 14px 26px;
    color: var(--dark-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    white-space: nowrap;
  }

  .custom-btn.btn-bg {
    background: var(--white-color);
    color: var(--primary-color);
    border-color: transparent;
	transition: all .3s ease;
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: transparent;
  }


  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: var(--secondary-color);
    outline: none;
    text-decoration: none;
  }

  ::selection {
    background: var(--secondary-color);
    color: var(--white-color);
  }

  .section-padding {
    padding: 8em 0;
  }
  .section-padding-half {
    padding: 4em 0;
  }

  .google-map iframe {
    display: block;
    width: 100%;
  }



  /*---------------------------------------
    MENU             
  -----------------------------------------*/

  .navbar {
    background: var(--menu-bg);
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
  }

  .navbar-brand {
    color: var(--white-color);
    font-size: var(--h2-font-size);
  }

  .nav-link {
    color: var(--white-color);
    font-size: var(--menu-font-size);
    letter-spacing: 0.4px;
    margin: 0 1.6em;
    padding: 0.6em;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--secondary-color);
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius-large);
    color: var(--secondary-color);
    font-family: var(--font-bold-family);
    padding: 0.6em 2em 0.8em 2em;
  }

  .navbar-expand-lg .navbar-nav .nav-link.contact:hover,
  .navbar-expand-lg .navbar-nav .nav-link.contact.active {
    background: var(--secondary-color);
    color: var(--white-color);
  }

  .navbar-nav .navbar-toggler-icon {
    background: none;
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease;
    transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
    top: 0;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
    transform: rotate(45deg);
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: rotate(-45deg);
  }

  .navbar-toggler .navbar-toggler-icon {
    background: var(--white-color);
    transition: background 10ms 300ms ease;
    display: block;
    width: 30px;
    height: 2px;
    position: relative;
  }

  .navbar-toggler .navbar-toggler-icon::before,
  .navbar-toggler .navbar-toggler-icon::after {
    transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease;
    transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
    position: absolute;
    right: 0;
    left: 0;
    background: var(--white-color);
    width: 30px;
    height: 2px;
    content: '';
  }

  .navbar-toggler .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler .navbar-toggler-icon::after {
    top: 8px;
  }



  /*---------------------------------------
     HERO              
  -----------------------------------------*/

  .hero {
    position: relative;
    padding: 5em 0;
    overflow: hidden;
  }

  .hero-bg {
    background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%);
  }

  .hero-image {
    position: relative;
    top: 2em;
  }



  /*---------------------------------------
      ABOUT            
  -----------------------------------------*/

  .about {
    position: relative;
    overflow: hidden;
  }

  .about-image img {
    display: block;
    margin: 0 auto;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  .site-footer {
    background: var(--dark-color);
    padding: 7em 0 6em 0;
  }

  .site-footer a {
    color: var(--p-color);
  }

  .site-footer a:hover,
  .footer-icon {
    color: var(--secondary-color);
  }

  .footer-link li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
  }

  .copyright-text,
  .footer-link,
  .site-footer .social-icon {
    margin-top: 6em;
  }

  .copyright-text {
    margin-top: 5.3em;
  }

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (min-width: 1200px) {

    .about-info h2 {
      max-width: 70%;
    }
  }

  @media screen and (min-width: 991px) {

    .servicio h2 {
      max-width: 32%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 991px) {

    .hero {
      padding-top: 14em;
    }

    .hero-text {
      bottom: 2em;
    }

    .navbar {
      padding: 1em;
    }

    .navbar-collapse {
      text-align: center;
      padding: 2.5em 0;
    }

    .nav-link {
      display: inline-block;
    }

    .navbar-expand-lg .navbar-nav .nav-link.contact {
      margin: 1em 0;
    }

    .copyright-text, 
    .footer-link, 
    .site-footer .social-icon {
      margin-top: 3em;
      padding: 0;
      text-align: left;
    }
  }

  @media screen and (max-width: 767px) {

    .back-to-top {
      bottom: 15px;
    }

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 22px;
    }

    .servicio-info {
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    .footer-link, 
    .site-footer .social-icon {
      margin-top: 1em;
    }

    .copyright-text {
      margin: 2.5em 0 1em 0;
    }

    .footer-link li {
      margin-left: 0;
    }
  }


